.footer{
    font-size: 11px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: center;
    list-style: none;
    padding: 1rem;
    color: #8D8D8D;
    background-color:#1F1F1F; 

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
        width: 80%;
    }
    // FIRST COLUMN
    &__first__list{
        list-style: inherit;
        // MEDIA QUERIES
        @include respond(phone){
            margin-right: 2rem;
        }
             @include respond(small-phone){
                flex: 0 0 50%;
                margin: 0 0 1rem 0;
            }
        &__items{
            margin-top: 5px;
            &:first-child{
                font-size: 13px;
                margin-bottom: 15px;
                color: #fff;
            }
        }
    }
    // SECOND COLUMN
    &__second__list{
        list-style: inherit;
           // MEDIA QUERIES
           @include respond(phone){
            margin-right: 2rem;
        }
        @include respond(small-phone){
            flex: 0 0 50%;
            margin: 0 0 1rem 0;
        }
        &__items{
            margin-top: 5px;
            &:first-child{
                font-size: 13px;
                margin-bottom: 15px;
                color: #fff;

            }
        }
    }
    // THIRD COLUMN
    &__third__list{
        list-style: inherit;
   // MEDIA QUERIES
   @include respond(phone){
    margin-right: 2rem;
    }
    @include respond(small-phone){
    flex: 0 0 50%;
    margin-right: 0;
    margin-bottom: 1rem;
    }
        &__items{
            margin-top: 5px;
            &:first-child{
                font-size: 13px;
                margin-bottom: 15px;
                color: #fff;

            }
        }
    }

    // MORE SITES
    &__sites{
        display: flex;
        justify-content: space-around;
        flex: 0 0 100%;
        &__left{
            &__title{
                text-align: left;
                margin: 1.5rem 0 .5rem 2.2rem;
            }
            &__select{
                font-family: Helvetica,Arial,sans-serif;
                font-size: 12px;
                height: 38px;
                line-height: 32px;
                padding: 0 10px;
                background: #fff;
                color: #000;
                border: 1px solid #000;
                border: 1px solid #e1e1e1;
                width: 80%;
            }
            &__terms{
                display: flex;
                list-style: none;
                margin-top: 1rem;
                &__list{
                    font-size: 9px; 
                    font-weight: 400;
                    padding: 0 10px;
                    color: #4591C2;

                }

                &__list--border{
                    padding: 0 10px;
                    border-right: 1px solid #4591C2;
                    border-left: 1px solid #4591C2;
                }
            }
        }

        &__right{
            margin: 1.5rem 0 .5rem 2.2rem;
            &__title{
                color: #fff;
            }
            &__text{
                margin-top: .5rem;
                font-weight: 100;
            }
        }
    }

    // COPYRIGHT CONTAINER
    &__legal-wrapper{
        flex: 0 0 100%;
        font-weight: 300;
        text-align: center;
        list-style: inherit;
        margin: 2rem;
        padding-top: 1rem;
        border-top: 1px solid #686C73;
        &__text{
            margin-top: 5px;
        }
    }
}